{% extends 'base.html.twig' %}

{% block title %}Loan Offers{% endblock %}

{% block header %}
<h1>💰 Installment Loan</h1>
{% endblock %}

{% block main %}
<form method="get" action="{{ path('app_offers') }}" class="b-offer-form" onsubmit="document.getElementById('submit-button').classList.add('loading');">
    <div class="row">
        <label for="amount" class="label">Amount</label>
        <input id="amount" class="currency-input" type="number" name="amount" min="1" value="{% if amount %}{{ amount }}{% endif %}" placeholder="100" required />
        {% if errors.amount is defined %}<p class="error">❌ {{ errors.amount }}</p>{% endif %}
    </div>
    <div class="row">
        <label for="months" class="label">Months</label>
        <input id="months" class="input" type="number" name="months" min="1" value="{% if months %}{{ months }}{% endif %}" placeholder="3" />
        {% if errors.months is defined %}<p class="error">❌ {{ errors.months }}</p>{% endif %}
    </div>
    <button id="submit-button" type="submit" class="button">Check</button>
</form>

{% if offers%}
<table class="b-offer">
    <tr>
        <th colspan="3">Offers</th>
    </tr>
    {% for offer in offers %}
        {% if offer.requestSuccessful %}
        <tr>
            <td>{{ offer.providerName }}</td>
            <td>{{ offer.interestRate }} %</td>
            <td>{{ offer.months }} month(s)</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">{{ offer.providerName }} (currently unavailable)</td>
        </tr>
        {% endif %}
    {% endfor %}
</table>
{% endif %}
{% endblock %}
